# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo


*.v2
BackendCode/.vs/BackendCode/config/applicationhost.config
BackendCode/.vs/BackendCode/FileContentIndex/1972e15b-785c-4cdd-b2e9-d15acee17a0a.vsidx
*.dll
*.props
*.cache
BackendCode/BackendCode/bin/Debug/net6.0/BackendCode.exe
BackendCode/BackendCode/bin/Debug/net6.0/BackendCode.deps.json
BackendCode/BackendCode/bin/Debug/net6.0/appsettings.json
BackendCode/BackendCode/bin/Debug/net6.0/appsettings.Development.json
BackendCode/.vs/BackendCode/FileContentIndex/6eb9ee80-1d01-4d5d-8583-926de9e67a18.vsidx
BackendCode/.vs/BackendCode/FileContentIndex/read.lock
BackendCode/BackendCode/bin/Debug/net6.0/BackendCode.pdb
BackendCode/BackendCode/obj/Debug/net6.0/apphost.exe
BackendCode/BackendCode/obj/Debug/net6.0/BackendCode.MvcApplicationPartsAssemblyInfo.cs
BackendCode/BackendCode/obj/Debug/net6.0/BackendCode.csproj.CopyComplete
BackendCode/BackendCode/obj/Debug/net6.0/BackendCode.csproj.BuildWithSkipAnalyzers
BackendCode/BackendCode/obj/Debug/net6.0/BackendCode.csproj.FileListAbsolute.txt
BackendCode/BackendCode/bin/Debug/net6.0/BackendCode.runtimeconfig.json
BackendCode/BackendCode/obj/Debug/net6.0/BackendCode.csproj.AssemblyReference.cache
BackendCode/BackendCode/obj/Debug/net6.0/BackendCode.assets.cache
BackendCode/BackendCode/obj/Debug/net6.0/BackendCode.pdb
BackendCode/BackendCode/obj/Debug/net6.0/staticwebassets.build.json
BackendCode/BackendCode/obj/Debug/net6.0/BackendCode.GeneratedMSBuildEditorConfig.editorconfig
BackendCode/BackendCode/obj/Debug/net6.0/BackendCode.csproj.AssemblyReference.cache
BackendCode/BackendCode/obj/
*.v1
BackendCode/.vs/BackendCode/v17/.suo

BackendCode/.vs/BackendCode/FileContentIndex/4a28094e-0b23-40b4-927a-0178ddf50512.vsidx
BackendCode/.vs/BackendCode/v17/DocumentLayout.json
BackendCode/.vs/BackendCode/FileContentIndex/e1f4167f-4db4-4322-ae18-046f4205a73e.vsidx
BackendCode/.vs/BackendCode/FileContentIndex/a560cf67-de54-4935-9b1d-7eae9454eac9.vsidx
BackendCode/.vs/ProjectEvaluation/backendcode.projects.v6.1
BackendCode/.vs/ProjectEvaluation/backendcode.metadata.v6.1
/BackendCode/.vs
BackendCode/.vs/BackendCode/FileContentIndex/1127db31-d82b-420a-a400-d1d42e8124df.vsidx
BackendCode/.vs/BackendCode/FileContentIndex/1127db31-d82b-420a-a400-d1d42e8124df.vsidx
BackendCode/.vs/BackendCode/FileContentIndex/565a2ba4-7715-466e-b8ff-a20a3c07ca50.vsidx
BackendCode/.vs/BackendCode/FileContentIndex/1127db31-d82b-420a-a400-d1d42e8124df.vsidx
BackendCode/.vs/BackendCode/FileContentIndex/1127db31-d82b-420a-a400-d1d42e8124df.vsidx
BackendCode/.vs/BackendCode/FileContentIndex/1127db31-d82b-420a-a400-d1d42e8124df.vsidx
BackendCode/.vs/BackendCode/FileContentIndex/1127db31-d82b-420a-a400-d1d42e8124df.vsidx
BackendCode/.vs/BackendCode/FileContentIndex/1127db31-d82b-420a-a400-d1d42e8124df.vsidx
BackendCode/.vs/BackendCode/FileContentIndex/565a2ba4-7715-466e-b8ff-a20a3c07ca50.vsidx
BackendCode/.vs/BackendCode/FileContentIndex/57cb53a5-3e79-407b-93e2-c65175c35615.vsidx
*.zip
.config
PublishProfiles
bin